{% extends 'mainapp/wrapper.html' %}
{% load static %}
{% block title %}
<title> О нас </title>
{% endblock title %}
{% block content %}
	<section class="main-section" id="service">
		<!--main-section client-part-start-->
		<div class="container">
			<h2>Немного слов о нас</h2>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05 animated" style="color: black; visibility: visible; animation-name: fadeInDown;">Мы работаем с 2017 года, начинали с маленького предприятия по продажам различных нашивок на одежду на заказ. Не изменяя традициям мы продолжаем продавать нашивки для одежды, но также мы продаем всю возможную одежду, использую качествные материалы: 100% хлопок, а также мы вышиваем на них фирменные изображения сами.
					</p>
					<p class="client-part-haead wow fadeInDown delay-05 animated" style="color: black; visibility: visible; animation-name: fadeInDown;">Мы насчитываем уже 50000 подписчиков в наших соц. сетях.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}