{% extends 'mainapp/wrapper.html' %}
{% block title %}
<title>Профиль пользователя</title>
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 style="margin-top: 2%">Профиль пользователя, {{user}}</h2>
        <div class="container" style="padding-bottom: 150px">
            <p class="client-part-haead wow fadeInDown delay-05 animated" style="color: black; visibility: visible; animation-name: fadeInDown;">Почта: {{user.email}}</p>
            <p class="client-part-haead wow fadeInDown delay-05 animated" style="color: black; visibility: visible; animation-name: fadeInDown;">Телефон: {{user.phone}}</p>
            <p>Ваши заказы:</p>
                {% for o in order %}
                    <table class="table text-left col-lg-6">
                        <thead>
                            <tr>
                                <th>Статус</th>
                                <th>Номер заказа</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ o.status }}</td>
                                <td>{{ o.id }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
        </div>

    {% else %}
        <h2 style="margin-top: 2%"><a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'regedit' %}">зарегистрируйтесь</a>, чтобы зайти в профиль!</h2>
    {% endif %}
{% endblock content %}